@charset "UTF-8";
body {
	background-color:#717171;
	margin-left: auto;
	margin-right: auto;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

#header {
	background-color:#C3CE62;
	height:119px;
}

#title {
	font-size: 5.3vw;
	font-weight: bold;
	line-height: 40px;
	color: #3A3A3A;
	float: left;
	margin-top:35px;
	margin-left:5px;
}

#headlogo {
	float: left;
	width:100px;
}

h5 {
	font-size:14px;
}

h4 {
	font-size: 18px;
}

a.nav-link {
	font-size:14px;
}

ul.navbar-nav li.nav-item.active a.nav-link {
	color:#C3CE62;
}

ul.navbar-nav li.nav-item {
	margin-right:10px;
	margin-left:10px;
}

.navbar-toggler-icon {
	height: 20px;
	width: 20px;
}

nav.navbar {
	min-height:45px;
}

ul.navbar-nav.mr-auto {
	margin-top:35px;
}

#content {
	min-height: 400px;
	overflow: hidden;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

#main-content {
	background-color: #fff;
	min-height: 300px;
	font-size: 12px;
	overflow: hidden;
	text-align: center;
}

#aside {
	background-color: #fff;
	font-size: 12px;
	padding-bottom:10px;
}

#map-canvas {
	height: 400px;
	width: 95%;
	margin-left:auto;
	margin-right:auto;
}

#footer {
	height: 60px;
	clear: both;
	padding-top: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #3A3A3A;
	text-align: center;
}

#footer a {
	color:#3A3A3A;
	text-decoration: none;
}

#footer a:hover {
	color: #C3CE62;
}


#autocomplete {
	width: 200px;
}

.log-event label, .log-event input {
	margin: 5px;
}

#posts {
	height: 400px;
	overflow: scroll;
	border: medium solid #D2D2D2;
}

#change-password {
	width: 290px;
	margin-right:auto;
	margin-left:auto;
}

#change-password label {
	margin-top:4px;
	margin-bottom: 2px;
	width: 150px;
	text-align:right;
	float: left;
}

#change-password input{
	margin-top: 2px;
	margin-bottom: 2px;
}

#user-info {
	width: 500px;
	margin-left:auto;
	margin-right:auto;
}

#filter-toggle-link {
	color:#C3CE62;
}

#filter-toggle-link:hover {
	color:#E5FC6F;
	text-decoration:none;
}

#filter-heading {
	background-color: #3A3A3A;
	font-size:14px;
	margin-left:10px;
	margin-right:10px;
}

#filter-containter {
	width: 100%;
	margin:10px;
	text-align: center;
}

.filter-set {
	text-align: left;
	line-height: 12px;
	margin-bottom:10px;
}

.filter-set h5 {
	text-align:center;
	font-size:14px;
}

#clear-filters {
	float:right;
	margin-bottom:5px;
}

.container #main {
	padding-left: 15px;
	padding-right: 15px;
}

.card-block {
	padding:0px;
	margin:5px;
}

div .radio, div .checkbox {
	padding-left:25%;
	width: 170px;
}

ul.nav.nav-tabs {
	background-color:#3A3A3A;
}

ul.nav.nav-tabs li.nav-item a.active {
	color: #3A3A3A;
}

ul.nav.nav-tabs li.nav-item a:hover {
	color:#E4FC6F;
}

ul.nav.nav-tabs li.nav-item a.active:hover {
	color: #717171;
}

ul.nav.nav-tabs li.nav-item a {
	color:#C3CE62;
}

div#new-bulletin h5 {
	margin-top:15px;
	margin-bottom:15px;
}

form#reg, form#log{
	text-align:center;
	padding-top: 10px;
}
